body {
    margin:  0px auto;
    width:   500px;
    padding: 15px; 
    border:  1px dashed #333;
}

.toppad {
    margin-top: 1em;
}

#new-date {
/*    width: 100px; */
}

#new-schnippet {
    height: 200px;
    width: 450px;
}

#schnippet-list {
}

.schnippet-date {
    font-weight: bold;
}

.schnippet-value {
}

.delete-button {
    float: right;
}
